<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <main>
        <img src="../../index-chat.jpg" alt="chat-coffe-talk" class="chat-img">
        <div class="chat">
            <form action="/chat"  class="chat-form">
                <div class="chat-label">
                    <label for="username"> Your name</label>
                    <input type="text" name="username" id="chat-input" class="chat-input" placeholder="Your name" required />
                </div>
                <div class="chat-label">
                    <label for="room"> Your room</label>
                    <input type="text" name="room" id="room-input" class="chat-input" placeholder="Your room"  required />
                    <button type="submit">Join Room</button>
                </div>
                </div>
              </form>
        </div>
      
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
