<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <main class='main'>
    <div class='main__img'>

      <h1 class='main__title'>
        Welcome to ChatCord!
      </h1>
      <article class='main__article'>
        <form action='/chat'>

          <section>
            <label class='section__label'>
              Nickname
            </label>
            <input type='text' name='username' id='chat-input' class='section__input' required />
          </section>
          <section>
            <label class='section__label'>
              Room
            </label>
            <input type='text' name='room' id='room-input' class='section__input' required />
          </section>
          <button type="submit" class='main__button'>
            <h1 class='main__button__title'>Join Room</h1>
          </button>



        </form>
      </article>
    </div>
  </main>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>